<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jaxrs="http://cxf.apache.org/jaxrs"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
           http://cxf.apache.org/jaxrs 
           http://cxf.apache.org/schemas/jaxrs.xsd"
	default-autowire="autodetect">
	<import resource="spring-cxf.xml" />
	<!-- <import resource="dispatcher-servlet.xml" /> -->

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName">
			<value>com.mysql.jdbc.Driver</value>
		</property>
		<!-- <property name="url">
			<value>jdbc:mysql://120.26.115.220:3306/rent?useUnicode=true&amp;characterEncoding=utf-8</value>
		</property>
		<property name="username">
			<value>root</value>
		</property>
		<property name="password">
			<value>mida</value>
		</property>
		-->
		<property name="url">
			<value>jdbc:mysql://192.157.220.203:3356/rent?useUnicode=true&amp;characterEncoding=utf-8</value>
		</property>
		<property name="username">
			<value>develop</value>
		</property>
		<property name="password">
			<value>Ux2015Dev</value>
		</property>
		
		<!-- <property name="url">
			<value>jdbc:mysql://uzuer001.mysql.rds.aliyuncs.com:3736/rent?useUnicode=true&amp;characterEncoding=utf-8&amp;autoReconnect=true&amp;failOverReadOnly=false&amp;maxReconnects=10</value>
		</property>
		<property name="username">
			<value>uzuer</value>
		</property>
		<property name="password">
			<value>UzuerRdsP2ssw0rd</value>
		</property> -->
		
		<property name="maxActive">
			<value>5</value>
		</property>
		<property name="maxIdle">
			<value>2</value>
		</property>
		<property name="maxWait">
			<value>1000</value>
		</property>
	</bean>
	
	<bean id="systemConfiguration" class=" com.lingtong.util.SystemConfiguration" init-method="getInstance">
	    <property name="locations">
	      <list>
	        <!-- <value>production.properties</value> -->
	        <!-- <value>test.properties</value> -->
	        <value>localhost.properties</value>
	      </list>
	    </property>
  	</bean>
	
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
	</bean>
</beans>

